<div class="footer">
  <div class="sponsor">
    <h4>POWERED BY</h4>
    <div class="brands">
      <%= image_tag "spotify.png" %>
      <h4>AND</h4>
      <%= image_tag "songkick.png" %>
    </div>
  </div>
  <h4 class="author">MADE BY <a href="https://www.arthur-littm.com/">ARTHUR LITTMANN</a></h4>
</div>
