<% found_festivals.each do |festival| %>
  <div class="festival-card">
    <span class="festival-name"><%= festival.name %></span>
    <span class="festival-year"><%= festival.year %></span>
    <%= link_to "", artists_path(festival.id), class: "link" %>
  </div>
<% end %>
