<div class="container text-center">
  <h1>Listo</h1>
  <p>Generate a playlist for your festival, instantly.</p>

  <%= form_tag artists_path, method: :get do %>
    <%= text_field_tag 'searched_event', nil, placeholder: 'Search event...' %>
    <%= submit_tag "search", hidden: true %>
  <% end %>

</div>
