.banner {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-search {
  text-align: center;
  input {
    background: transparent;
    border: none;
    font-size: 50px;
    width: 70vw;
    &:focus {
      outline: none;
    }
  }
}
