.successful-container {
  min-height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-content {
  background-color: $light;
  width: 400px;
  color: $dark;
  text-align: center;
}
